{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "@typescript-eslint/ban-ts-ignore": "off",
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/prop-types": 0,
    "react/destructuring-assignment": [
      2,
      "always",
      { "ignoreClassFields": true }
    ],
    "react/forbid-prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx", ".js"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "globals": {
    "window": true,
    "document": true,
    "fetch": false
  },
  "env": {
    "jest": true
  }
}
